{{ define "main" }}
  {{ .Content }}
  {{ range site.RegularPages }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
      {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">Vairāk ...</a>
      {{ end }}
    </section>
  {{ end }}
  {{ with site.Taxonomies.tags }}
  <nav class="tags">
    {{ range $name, $term := . }}
      <a href="{{ (site.GetPage (printf "/tags/%s" $name)).RelPermalink }}">{{ $name }}</a>
    {{ end }}
  </nav>
  {{ end }}
{{ end }}
